{% extends session.get("layout") %}

{% block customJS %}
<script src="{{ url_for('static', filename='js/collection.js') }}"></script>
{% endblock %}

{% block title %}
Mi colección
{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/collection.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
{% endblock %}

{% block bodyContent %}
<div class="box">
    <div class="info">
        <h1 title="Título">{{ collectionData['title'] }}</h1>
        <img src="{{ collectionData['imageUrl'] }}">
        <div class="details">
            <p title="Artista" class="info-artist">{{ collectionData['artists'] }}</p>
            <div class="sep"></div>
            <p title="Formato" class="info-format">{{ collectionData['format'] }}</p>
            <p title="Año" class="info-year">{{ collectionData['year'] }}</p>
            <p title="País" class="info-country">{{ collectionData['country'] }}</p>
        </div>
    </div>
    <table class="tracklist">
        <thead>
            <tr>
                <th>Canciones
                    <div class="sort-menu">
                        <div class="sort">
                            <p>Ordenar</p>
                            <button class="sort-btn sort-asc" title="Ascendente">🡹</button>
                            <button class="sort-btn sort-desc" title="Descendente">🡻</button>
                        </div>
                        <div class="filter">
                            <input type="text" class="filter-input" placeholder="Filtrar">
                            <button class="filter-btn"></button>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for item in collectionData['tracklist'] %}
            <tr>
                <td>{{ item['songTitle'] }}</td>
                <td>{{ item['songDuration'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="details-btns">
        <a href="javascript:history.back()" class="link-btn details-btn">Volver</a>
        <a href="{{ url_for('collection.modify', idDisco=collectionData['idDisco']) }}" class="link-btn details-btn">Solicitar un cambio</a>
    </div>
</div>
{% endblock %}