{% extends './layout_menus.html' %}

{% block customJS %}
<script src="{{ url_for('static', filename='js/collection.js') }}"></script>
{% endblock %}

{% block title %}
Mi colección
{% endblock %}

{% block customCSS1 %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/collection.css') }}">
{% endblock %}

{% block bodyContent %}
<h1>Mi colección</h1>
<table>
    <thead>
        <tr>
            <th>Carátula</th>
            <th>Título
                <div class="sort-menu">
                    <button class="sort-asc">Ordenar Ascendente</button>
                    <button class="sort-desc">Ordenar Descendente</button>
                    <input type="text" class="filter-input" placeholder="Filtrar">
                    <button class="filter-btn">Filtrar</button>
                </div>
            </th>
            <th>Artista
                <div class="sort-menu">
                    <button class="sort-asc">Ordenar Ascendente</button>
                    <button class="sort-desc">Ordenar Descendente</button>
                    <input type="text" class="filter-input" placeholder="Filtrar">
                    <button class="filter-btn">Filtrar</button>
                </div>
            </th>
            <th>Formato
                <div class="sort-menu">
                    <button class="sort-asc">Ordenar Ascendente</button>
                    <button class="sort-desc">Ordenar Descendente</button>
                    <input type="text" class="filter-input" placeholder="Filtrar">
                    <button class="filter-btn">Filtrar</button>
                </div>
            </th>
            <th>Año
                <div class="sort-menu">
                    <button class="sort-asc">Ordenar Ascendente</button>
                    <button class="sort-desc">Ordenar Descendente</button>
                    <input type="text" class="filter-input" placeholder="Filtrar">
                    <button class="filter-btn">Filtrar</button>
                </div>
            </th>
            <th>País
                <div class="sort-menu">
                    <button class="sort-asc">Ordenar Ascendente</button>
                    <button class="sort-desc">Ordenar Descendente</button>
                    <input type="text" class="filter-input" placeholder="Filtrar">
                    <button class="filter-btn">Filtrar</button>
                </div>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in collectionData %}
        <tr>
            <td><img src="{{ item['imageUrl'] }}" alt="Carátula de {{ item['title'] }}"></td>
            <td>{{ item['title'] }}</td>
            <td>{{ item['artists'] }}</td>
            <td>{{ item['format'] }}</td>
            <td>{{ item['year'] }}</td>
            <td>{{ item['country'] }}</td>
            <td>
                <a href="/tracklist/{{ item['idDisco'] }}" class="modify">Canciones</a>
                <a href="/modify/{{ item['idDisco'] }}" class="modify">Modificar</a>
                <a href="/delete/{{ item['idDisco'] }}" class="delete"
                    data-confirm="¿Estás seguro de que quieres eliminar {{item['title']}} de tu colección?">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}