{% extends './layout.html' %}

{% block title %}
Nuevo disco
{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/collection.css') }}">
{% endblock %}

{% block bodyContent %}

<h1>Resultados para {{ code }}</h1>
<a href="{{ url_for('collection.selected') }}" class="link-btn">No insertar</a>
{% for option in options %}
<form action="/selected" method="GET">
    <div class="option">
        <img src="{{ option.imageUrl }}" alt="Carátula de {{ option.title }}">
        <h3>{{ option.title }}</h3>
        <p>{{ option.artists }}</p>
        <p>{{ option.format }}</p>
        <p>{{ option.year }}</p>
        <p>{{ option.country }}</p>
        <input type="hidden" name="optionSelected" value="{{ loop.index }}">
        <button type="submit">Elegir</button>
    </div>
</form>
{% endfor %}



{% endblock %}