{% extends './layout.html' %}

{% block title %}
Nuevo disco
{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/collection.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/video.css') }}">
{% endblock %}

{% block customJS %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
<script src="{{ url_for('static', filename='js/collection.js') }}"></script>
{% endblock %}

{% block bodyContent %}

<h1>Agregar un nuevo disco</h1>
<h2>¿Cómo prefieres continuar?</h2>
<p>Escánear código de barras</p>
<button id="scanButton">Escanear</button>
<div id="scanResult"></div>
<p>Buscar manualmente</p>
<form action="/insert" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="form">
        <input type="text" name="search" id="search">
        <button type="submit" class="btn-submit" id="manual-search">Buscar</button>
        <img src="/static/img/question.svg" class="question-image">
        <div class="hover-text">Recomendamos realizar la búsqueda por el código de barras del disco. Los discos antiguos
            no tienen código de barras, pero sí un código que los identifica, ¡fíjate en la parte de atrás! Si no lo
            encuentras, también puedes buscar por el título del disco.</div>
        </img>
    </div>
</form>
<h3>Búsqueda avanzada</h3>
<img src="/static/img/question.svg" class="question-image">
<div class="hover-text">Rellena los campos que conozcas y deja vacíos los que no.</div>
<form action="/insert" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="form">
        <p>Nombre del disco</p>
        <input type="text" name="title">
        <p>Artista</p>
        <input type="text" name="artist">
        <p>Año</p>
        <input type="number" name="year">
        <p>País</p>
        <input type="text" name="country">
        <p>Código de barras</p>
        <input type="number" name="barcode">
        <p>Formato</p>
        <input list="format-types" name="format">
        <datalist id="format-types">
            <option value="Vinilo"></option>
            <option value="CD"></option>
            <option value="Cassette"></option>
            <option value="DVD"></option>
            <option value="Paquete"></option>
        </datalist>
        <button type="submit" class="btn-submit" id="advanced-search">Buscar</button>
    </div>
</form>

{% endblock %}