<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="{{ url_for('static', filename='img/logo/Logo_Condensed_White.svg') }}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrooveHub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    {% block customCSS %}{% endblock %}
    {% block customJS %}{% endblock %}
    <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="navbar">
            <nav>
                <ul class="nav-left">
                    <li>
                        <a class="nav-logo" href="{{ url_for('home') }}">
                            <img src="{{ url_for('static', filename='img/logo/Logo_Full_White.svg') }}" alt="">
                        </a>
                    </li>

                </ul>
                <div class="nav-center">
                </div>
                <div class="nav-right">
                    <ul>
                        <li>
                            <a class="nav-icon" href="{{ url_for('admin.view_disks') }}">
                                <img src="{{ url_for('static', filename='img/collection.svg') }}"
                                    title="Discos en la base de datos">
                            </a>
                        </li>
                        <li>
                            <a class="nav-icon" href="{{ url_for('admin.view_users') }}">
                                <img src="{{ url_for('static', filename='img/user.svg') }}"
                                    title="Usuarios en la base de datos">
                            </a>
                        </li>
                        <li>
                            <p>{{ current_user.nombre }} ▼</p>
                            <ul class="dropdown">
                                <li><a href="{{ url_for('admin.view_users') }}">Usuarios</a></li>
                                <li><a href="{{ url_for('admin.view_disks') }}">Discos</a></li>
                                <li><a href="{{ url_for('auth.logout') }}">Cerrar sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="body-container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert" role="alert">
            <p>{{ message }}</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block bodyContent %}{% endblock %}
        {% block body %}{% endblock %}
    </div>
    <footer>
        <div class="footer">
            <p>UAH - TFG Alejandro Martín</p>
            <img src="{{ url_for('static', filename='img/logo/Logo_Condensed_White.svg') }}" alt="">
            <ul>
                <li class="nav-item"><a href="#" class="nav-link">FAQ</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Contacto</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>