{% extends session.get("layout") %}

{% block title %}
Nuevo disco
{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/collection.css') }}">
{% endblock %}

{% block customJS %}
<script src="{{ url_for('static', filename='js/collection.js') }}"></script>
{% endblock %}

{% block bodyContent %}

<h1>Modificar usuario</h1>
<h4>Datos actuales</h2>
<h6>Nombre de usuario:</h6>
<p>{{ user.username }}</p>
<h6>Nombre:</h6>
<p>{{ user.name }}</p>
<h6>Correo electrónico:</h6>
<p>{{ user.email }}</p>
<h6>Rol:</h6>
<p>{{ user.role }}</p>

<h4>Modificaciones:</h4>
<form action="/admin/modify-user/{{ user.id }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="form">
        <p>Nombre de usuario</p>
        <input type="text" name="username" value="{{ user.username }}">
        <p>Nombre</p>
        <input type="text" name="name" value="{{ user.name }}">
        <p>Correo electrónico</p>
        <input type="email" name="email" value="{{ user.email }}">
        <p>Rol</p>
        <select list="role-types" name="role" value="{{ user.role }}">
            <option value="USER">USER</option>
            <option value="ADMIN">ADMIN</option>
        </select>
        <button type="submit" class="btn-submit">Modificar</button>
    </div>
</form>

{% endblock %}