{% extends session.get("layout") %}

{% block customJS %}
<script src="{{ url_for('static', filename='js/collection.js') }}"></script>
<script src="{{ url_for('static', filename='js/disks.js') }}"></script>
<script>
    const pagesAmount = {{ pagesAmount }};
</script>
{% endblock %}

{% block title %}
Mi colección
{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/disks.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/users.css') }}">
{% endblock %}

{% block bodyContent %}
<div class="title-box">
    <div class="title">
        <h1>Usuarios</h1>
        <div class="filtered">
            {% if search and filterBy and filterBy!='None'%}
            Filtrando por {{ filterBy }} "{{ search }}"
            {% endif %}
        </div>
        <div class="btns">
            <div class="pagination">
                <form id="filter-hidden-prev" action="/admin/users?page={{ page-1 }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="filter-by" value="{{ filterBy }}">
                    <input type="hidden" name="search" value="{{ search }}">
                </form>
                <form id="filter-hidden-next" action="/admin/users?page={{ page+1 }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="filter-by" value="{{ filterBy }}">
                    <input type="hidden" name="search" value="{{ search }}">
                </form>
                {% if 1 == page %}
                <p class="deactivated">◀</p>
                {% else %}
                <a href="#" onclick="document.getElementById('filter-hidden-prev').submit();">◀</a>
                {% endif %}
                <p>{{ page }}</p>
                {% if pagesAmount == page %}
                <p class="deactivated">▶</p>
                {% else %}
                <a href="#" onclick="document.getElementById('filter-hidden-next').submit();">▶</a>
                {% endif %}
            </div>
            <a href="" class="link-btn filter-btn" title="Filtrar" id="filter-btn"></a>
        </div>
    </div>
    <div class="filter-box" id="filter-box">
        <p>Filtrar por:</p>
        <form action="/admin/users" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="custom-select-wrapper">
                <div class="custom-select">
                    <div class="custom-select-trigger">
                        <span></span>
                    </div>
                    <div class="custom-options">
                        <span class="custom-option selected" data-value="username">Userame</span>
                        <span class="custom-option" data-value="nombre">Nombre</span>
                        <span class="custom-option" data-value="email">Correo electrónico</span>
                        <span class="custom-option" data-value="role">Rol</span>
                    </div>
                </div>
            </div>
            <input type="hidden" name="filter-by" value="username" id="filter-by">
            <input class="search-bar" type="text" name="search" id="search">
            <button type="submit" class="search-btn" id="manual-search"></button>
        </form>
    </div>
</div>
<div class="box">
    <div class="table-box">
        <table class="coll-tbl">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Nombre</th>
                    <th>Correo electrónico</th>
                    <th>Rol</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in userData %}
                <tr>
                    <td>{{ item['username'] }}</td>
                    <td>{{ item['name'] }}</td>
                    <td>{{ item['email'] }}</td>
                    <td>{{ item['role'] }}</td>
                    <td>
                        <a href="{{ url_for('admin.modify_user', idUsuario=item['idUsuario']) }}"
                            class="link-btn modify-btn user-tbl-btn" title="Solicitar un cambio para este disco"></a>
                        <a href="{{ url_for('admin.delete_user', idUsuario=item['idUsuario']) }}"
                            class="link-btn delete-btn user-tbl-btn" title="Eliminar"
                            data-confirm="¿Estás seguro de que quieres eliminar el usuario {{item['name']}}?"></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}