{% extends './layout.html' %}

{% block customJS %}
<script src="{{ url_for('static', filename='js/collection.js') }}"></script>
{% endblock %}

{% block title %}
Administrador
{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
{% endblock %}

{% block bodyContent %}
<div class="title">
    <h1>Usuarios en la base de datos</h1>
</div>
<table class="coll-tbl">
    <thead>
        <tr>
            <th>Username
                <div class="sort-menu">
                    <div class="sort">
                        <p>Ordenar</p>
                        <button class="sort-btn sort-asc" title="Ascendente">🡹</button>
                        <button class="sort-btn sort-desc" title="Descendente">🡻</button>
                    </div>
                    <div class="filter">
                        <input type="text" class="filter-input" placeholder="Filtrar">
                        <button class="filter-btn"></button>
                    </div>
                </div>
            </th>
            <th>Nombre
                <div class="sort-menu">
                    <div class="sort">
                        <p>Ordenar</p>
                        <button class="sort-btn sort-asc" title="Ascendente">🡹</button>
                        <button class="sort-btn sort-desc" title="Descendente">🡻</button>
                    </div>
                    <div class="filter">
                        <input type="text" class="filter-input" placeholder="Filtrar">
                        <button class="filter-btn"></button>
                    </div>
                </div>
            </th>
            <th>Correo electrónico
                <div class="sort-menu">
                    <div class="sort">
                        <p>Ordenar</p>
                        <button class="sort-btn sort-asc" title="Ascendente">🡹</button>
                        <button class="sort-btn sort-desc" title="Descendente">🡻</button>
                    </div>
                    <div class="filter">
                        <input type="text" class="filter-input" placeholder="Filtrar">
                        <button class="filter-btn"></button>
                    </div>
                </div>
            </th>
            <th>Rol
                <div class="sort-menu">
                    <div class="sort">
                        <p>Ordenar</p>
                        <button class="sort-btn sort-asc" title="Ascendente">🡹</button>
                        <button class="sort-btn sort-desc" title="Descendente">🡻</button>
                    </div>
                    <div class="filter">
                        <input type="text" class="filter-input" placeholder="Filtrar">
                        <button class="filter-btn"></button>
                    </div>
                </div>
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for item in userData %}
        <tr>
            <td>{{ item['username'] }}</td>
            <td>{{ item['name'] }}</td>
            <td>{{ item['email'] }}</td>
            <td>{{ item['role'] }}</td>
            <td>
                <a href="{{ url_for('admin.modify_user', idUsuario=item['idUsuario']) }}" class="tbl-btn modify"
                    title="Solicitar un cambio para este disco"></a>
                <a href="{{ url_for('admin.delete_user', idUsuario=item['idUsuario']) }}" class="tbl-btn delete"
                    title="Eliminar"
                    data-confirm="¿Estás seguro de que quieres eliminar el usuario {{item['name']}}?"></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}