<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="{{ url_for('static', filename='img/logo-color.png') }}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    {% block customCSS %}{% endblock %}
    {% block customJS %}{% endblock %}
</head>

<body>
    <header>
        <div class="navbar">
            <nav>
                <!-- <div class="logo">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
                </div> -->
                <ul class="nav-links">
                    <li>
                        <a class="nav-logo" href="{{ url_for('home') }}">
                            <img src="{{ url_for('static', filename='img/logo-claro.png') }}" alt="">
                        </a>
                    </li>
                    <li><a href="{{ url_for('home') }}">Inicio</a></li>
                </ul>
                <div class="nav-user">
                    <ul>
                        <li>
                            <a href="#">{{ current_user.name }} ▼</a>
                            <ul class="dropdown">
                                <li><a href="{{ url_for('user.profile') }}">Perfil</a></li>
                                <li><a href="{{ url_for('auth.logout') }}">Cerrar sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="body-container">
        {% block body %}{% endblock %}
    </div>
    <footer>
        <div class="footer">
            <p>UAH - TFG  Alejandro Martín</p>
            <img src="{{ url_for('static', filename='img/logo-claro.png') }}" alt="">
            <ul>
                <li class="nav-item"><a href="#" class="nav-link">FAQ</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Contacto</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>