* {
    font-family: var(--fuente1);
    margin: 0;
}

body {
    background-color: var(--claro1);
    margin: 0;
    min-height: 100vh;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
}

.body-container {
    padding: 2em 3em;
}

header {
    grid-row: 1;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.navbar nav {
    background-color: var(--oscuro1);
    width: 100%;
    color: var(--claro1);
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.nav-logo,
.nav-icon {
    margin: 0 7px;
    padding: 0 !important;
    display: flex !important;
    align-items: center !important;
}

.nav-logo img {
    height: 2.2em;
    max-height: 80px;
}

.nav-icon img {
    height: 2em;
    max-height: 80px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.nav-left,
footer ul {
    list-style: none;
    font-size: 1.3rem;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-left li,
footer ul li {
    display: inline-block;
    position: relative;
    text-align: center;
}

.nav-right ul {
    display: grid;
    grid-template-columns: auto auto auto;
    list-style: none;
    font-size: 1.3rem;
    padding: 0;
}

.nav-right ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right ul li:last-child {
    display: block;
}

.nav-left li a,
footer ul li a {
    display: block;
    position: relative;
    padding: 1em;
    text-decoration: none;
    color: var(--claro1);
    text-align: center;
}

.nav-right ul li p {
    display: block;
    position: relative;
    padding: 1em;
    text-decoration: none;
    color: var(--claro1);
    text-align: end;
    /* min-width: 10em; */
    width: auto;
    /* border-left: 1px solid var(--oscuro2); */
}

.nav-right ul li a {
    display: block;
    position: relative;
    padding: 1em;
    text-decoration: none;
    color: var(--claro1);
    text-align: end;
    width: auto;
}

.nav-right ul li .dropdown li {
    display: block;
    margin: 1px 0px;
    background: var(--oscuro1);
}

.nav-right ul li .dropdown li a {
    margin: 0;
}

.nav-right ul li .dropdown li:first-child {
    margin: 0px 0px;
}

.nav-right ul li .dropdown {
    padding: 0;
    position: absolute;
    right: 0px;
    width: calc(12em - 2px);
    display: none;
    z-index: 999;
    background: var(--oscuro2);
    border-top: none;
    border-right: none;
    box-shadow: 0px 0px 15px 0px rgb(25, 25, 26);
}

.nav-right ul li:hover .dropdown {
    display: block;
}

.nav-left li a:hover,
.nav-right li a:hover,
footer ul li a:hover,
.nav-right ul li:hover {
    background: var(--oscuro2);
}

.nav-logo:hover {
    background: var(--oscuro1) !important;
}

footer {
    height: 4.3rem;
    grid-row-start: 3;
    grid-row-end: 3;
    width: 100%;
    padding-top: 0.4rem;
    background-color: var(--oscuro1);
    color: var(--claro1);
}

.footer img {
    justify-self: center;
    margin-top: 0.2rem;
    height: 3.6rem;
}

.footer ul {
    justify-self: end;
    font-size: 1em;
}

.footer p {
    font-size: 0.8em;
}

.footer {
    border-top: 3px solid var(--oscuro2);
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.btn-close:hover {
    transform: scale(1.2);
}

.nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-search form {
    display: flex;
    align-items: center;
    position: relative;
}

.nav-search input {
    height: 2.4rem;
    width: 20rem;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    border: none;
    position: relative;
    padding-inline: 0;
    padding-block: 0;
    padding-left: 10px;
}

.nav-search input:focus {
    outline: none;
}

.nav-search .nav-search-btn {
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    width: 3rem;
    height: 2.4rem;
    background: var(--claro1) url(../img/magnifying-glass.svg) left/1.6em auto no-repeat;
    background-position: 42% 46%;
    border: none;
}

.nav-search .nav-search-btn:hover {
    background: var(--claro3) url(../img/magnifying-glass.svg) left/1.6em auto no-repeat;
    background-position: 42% 46%;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.loading-image {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    animation: spin 1s linear infinite;
}

.loading-text {
    font-size: 20px;
    color: white;
}


.link-btn {
    display: inline-block;
    padding: 0.8rem;
    text-decoration: none;
    color: var(--oscuro2);
    font-weight: 500;
    text-align: center;
    background-color: var(--amarillo1);
    margin: 0.4rem 0rem;
    border-radius: 10em;
    transition-duration: 0.2s;
    box-shadow: 3px 3px 3px 0px rgb(113, 113, 115),
        -2px -2px 2px 0px rgba(239, 239, 239, 0.5);
}

.link-btn:hover {
    background-color: var(--naranja2);
    /* font-weight: bold; */
    box-shadow: inset 3px 3px 3px 0px rgba(113, 113, 115, 0.5),
        inset -2px -2px 3px 0px rgba(239, 239, 239, 0.5);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}