<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="{{ url_for('static', filename='img/logo/Logo_Condensed_White.svg') }}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
    <title>{% block title %}{% endblock %}</title>
    {% block customCSS %}{% endblock %}
    {% block customJS %}{% endblock %}
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert" role="alert">
        <p>{{ message }}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="background">
        <div class="body-container">
            <div class="box">
                <div class="logo">
                    <img src="{{ url_for('static', filename='img/logo/Logo_Full_Black.svg') }}" alt="" width="250">
                </div>
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <p>UAH - TFG Alejandro Martín</p>
            <img src="{{ url_for('static', filename='img/logo/Logo_Condensed_White.svg') }}" alt="">
            <ul>
                <li class="nav-item"><a href="{{ url_for('open_pdf', filename='manual.pdf') }}" class="nav-link" target="_blank">Manual de usuario</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>