{% extends './auth/auth_layout.html' %}

{% block title %}
Iniciar sesión
{% endblock %}

{% block body %}
<div class="auth-title">
    Iniciar sesión
</div>
<form action="/auth/login" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="form">
        <input type="text" name="username" id="username" placeholder="Nombre de usuario" required>
        <div class="password">
            <input type="password" name="password" id="password" placeholder="Contraseña" required>
            <button type="button" class="btn-password btn-password-show" onclick="showPassword()"
                id="password-button"></button>
        </div>
        <button type="submit" class="btn-submit">Entrar</button>
    </div>
</form>
<div class="links">
    <a href="reset-password">He olvidado mi contraseña</a>
    <div class="divisor"></div>
    <a href="signup">¿Aún sin una cuenta? Registrarse</a>
</div>
{% endblock %}