{% extends './auth/auth_layout.html' %}

{% block title %}
Restablecer contraseña
{% endblock %}

{% block body %}
<div class="text-center mt-4 name">
    Recuperar contraseña
</div>
<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="form">
        <div class="password">
            <input type="password" name="password" id="password" placeholder="Contraseña"
                pattern="(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d\S]{8,}"
                oninvalid="this.setCustomValidity('La contraseña debe tener al menos 8 caracteres e incluir al menos un número y una letra')"
                oninput="this.setCustomValidity('')" required>
            <button type="button" class="btn-password btn-password-show" onclick="showPassword()"
                id="password-button"></button>
        </div>
        <div class="password">
            <input type="password" name="password2" id="password2" placeholder="Confirmar contraseña"
                onchange="validatePassword()">
            <button type="button" class="btn-password btn-password-show" onclick="showPassword2()"
                id="password2-button"></button>
        </div>
        <button class="btn-submit" type="submit">Cambiar</button>
    </div>
</form>
{% endblock %}