{% extends './auth/auth_layout.html' %}

{% block title %}
Recuperar contraseña
{% endblock %}

{% block customCSS %}
{% endblock %}

{% block body %}

<div class="auth-title">
    Recuperar contraseña
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert" role="alert">
    <p>{{ message }}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<form action="/auth/reset-password" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="form">
        <input type="email" name="email" id="email" placeholder="Correo electrónico" required>
        <button class="btn-submit" type="submit">Recuperar contraseña</button>
    </div>
</form>
<div class="links">
    <a href="login">Volver a iniciar sesión</a>
    <div class="divisor"></div>
    <a href="signup">¿Aún sin una cuenta? Registrarse</a>
</div>
{% endblock %}