{% extends './auth/auth_layout.html' %}

{% block title %}
Login
{% endblock %}

{% block body %}
<div class="auth-title">
    Crear cuenta
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert" role="alert">
    <p>{{ message }}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<form action="/auth/signup" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="form">
        <input type="text" name="username" id="username" placeholder="Nombre de usuario" required
            oninvalid="this.setCustomValidity('El nombre de usuario no puede estar vacío')"
            oninput="this.setCustomValidity('')">
        <input type="text" name="name" id="name" placeholder="Tu nombre" required
            oninvalid="this.setCustomValidity('El nombre no puede estar vacío')" oninput="this.setCustomValidity('')">
        <input type="email" name="email" id="email" placeholder="Correo electrónico" required
            oninvalid="this.setCustomValidity('Introduce una dirección de correo válida')"
            oninput="this.setCustomValidity('')">
        <div class="password">
            <input type="password" name="password" id="password" placeholder="Contraseña"
                pattern="(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d\S]{8,}"
                oninvalid="this.setCustomValidity('La contraseña debe tener al menos 8 caracteres e incluir al menos un número y una letra')"
                oninput="this.setCustomValidity('')" required>
            <button type="button" class="btn-password btn-password-show" onclick="showPassword()"
                id="password-button"></button>
        </div>
        <div class="password">
            <input type="password" name="password2" id="password2" placeholder="Confirmar contraseña"
                onchange="validatePassword()">
            <button type="button" class="btn-password btn-password-show" onclick="showPassword2()"
                id="password2-button"></button>
        </div>
        <input type="hidden" id="hidden_password" value="{{password}}">
        <button class="btn-submit" type="submit">Crear cuenta</button>
    </div>
</form>
<div class="links">
    <a href="login">¿Ya tienes una cuenta?<br>Iniciar sesión</a>
</div>
{% endblock %}