{% extends './auth/auth_layout.html' %}

{% block title %}
Login
{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth/login.css') }}">
{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="logo">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
    </div>
    <div class="text-center mt-4 name">
        Crear cuenta
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <br />
    {% for message in messages %}
    <div class="alert alert-primary alert-dismissible" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form class="p-3 mt-3" action="/auth/signup" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="username" id="username" placeholder="Nombre de usuario" required
                oninvalid="this.setCustomValidity('El nombre de usuario no puede estar vacío')"
                oninput="this.setCustomValidity('')">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="name" id="name" placeholder="Tu nombre" required
                oninvalid="this.setCustomValidity('El nombre no puede estar vacío')"
                oninput="this.setCustomValidity('')">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="email" name="email" id="email" placeholder="Correo electrónico" required
                oninvalid="this.setCustomValidity('Introduce una dirección de correo válida')"
                oninput="this.setCustomValidity('')">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="password" placeholder="Contraseña" required>
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password2" id="password2" placeholder="Confirmar contraseña" required
                pattern="(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d\S]{8,}"
                oninvalid="this.setCustomValidity('Las contraseñas deben coincidir')"
                oninput="this.setCustomValidity('')" required>
            <input type="hidden" id="hidden_password" value="{{password}}">
        </div>
        <button class="btn mt-3" type="submit">Crear cuenta</button>
    </form>
    <div class="text-center fs-6">
        <a href="login">¿Ya tienes una cuenta? Iniciar sesión</a>
    </div>
</div>
{% endblock %}